.btn {
  text-transform: uppercase;
  letter-spacing: 0.08em;
  box-shadow: none;
  outline: 0;
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
}

.btn-violet {
  @include button-variant(
    $btn-violet-background,
    $btn-violet-border,
    $btn-violet-hover-background,
    $btn-violet-hover-border,
  );
}

.btn-orange {  
  @include button-variant(
    $btn-orange-background,
    $btn-orange-border,
    $btn-orange-hover-background,
    $btn-orange-hover-border,
  );
}

.btn-pink {
  @include button-variant(
    $btn-pink-background,
    $btn-pink-border,
    $btn-pink-hover-background,
    $btn-pink-hover-border
  );
}
