.roomName {
  transform: rotate(270deg);
  position: absolute;
  left: -85px;
  top: 120px;
  height: 30px;
  z-index: 33;
}

.users {
  padding-bottom: 60px;
}
.usersHeader {
  color: $dark;
  margin-bottom: 0;
}

.usersPoint {
  font-size: 9px;
}
