.header {
  height: 450px;
  background-image: url("https://images.unsplash.com/photo-1510074377623-8cf13fb86c08?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2552&q=80");
  background-size: cover;
  background-position: center;
}

.headerUser {
  width: 20%;
}
