.input-label {
  font-size: 0.625rem;
  letter-spacing: $label-letter-spacing;
  line-height: 0.75rem;
  padding: 5px;
  margin-bottom: 0;
  color: $primary;
  margin-left: 15px;
  margin-top: 20px;
}

.icon-unavailable {
  color: $red;
}

.icon-available {
  color: $green;
}
